<%- include('includes/header.ejs')%>
<%- include('includes/navigation.ejs')%>

<main>
  <div>
    <% if(tasks.length>0) {%>
    <% for (let task of tasks){ %>
    <div><%= task.task %></div>
    <% } } else { %>
    <div>No tasks today</div>
    <% } %>
  </div>
  <!-- SIGNUP FORM -->
  <form action="/task" method="post">
    <div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </div>
    <div class="form-group">
      <input type="text" name="task">
    </div>
    <button type="submit">Add Task</button>
  </form>

</main>
<%- include('includes/footer.ejs')%>